<div class="card estilo-card animated fadeIn fast" *ngIf="personaje">
  <img class="card-img-top " src="/swd/assets/img/{{personaje.name.replace(' ', '-')}}.jpg" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{personaje.name}}</h5>
    <table class="table">
      <tbody>
        <tr>
          <td>Birth Year</td>
          <td>{{personaje.birth_year}}</td>
        </tr>
        <tr>
          <td>Height</td>
          <td>{{personaje.height}} cm</td>
        </tr>
        <tr>
          <td>Mass</td>
          <td>{{personaje.mass}} kg</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{personaje.gender}}</td>
        </tr>
        <tr>
          <td>Hair Color</td>
          <td>{{personaje.hair_color}}</td>
        </tr>
        <tr>
          <td>Skin Color</td>
          <td>{{personaje.skin_color}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">
    <button type="button" routerLink="/" class="btn btn-dark btn-block">Volver al directorio</button>
  </div>
</div>
